.course:hover {
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.21);
    transition: all .4s ease;
}

.course__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.course__arrow {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #487BCE;
    transition: all .3s ease;
   
}

.course__arrow-close {
    transform: rotate(180deg);
}